<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Nova Care Hospital</span>
            <br>
            <br>
            <span>Developed By : <b>Geet</b></span>
        </div>
    </div>
</footer>