<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="admin">
        <div class="sidebar-brand-icon">
            <i class="fas fa-hospital"></i>
        </div>
        <div class="sidebar-brand-text mx-3">NovaCare</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Admin Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Your Health, Our Priority
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDatabase"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Admin Database</span>
        </a>
        <div id="collapseDatabase" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Database Tables:</h6>
                <a class="collapse-item" href="/doctors-database">Doctors</a>
                <a class="collapse-item" href="/patients-database">Patients</a>
                <a class="collapse-item" href="/admins-database">Admins</a>
            </div>
        </div>
    </li>


    <!-- Appointments - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAppointments"
            aria-expanded="true" aria-controls="collapseAppointments">
            <i class="fas fa-fw fa-calendar-check"></i>
            <span>Appointments</span>
        </a>
        <div id="collapseAppointments" class="collapse" aria-labelledby="headingAppointments" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" href="/admin/appointments">All Appointments</a>
                <a class="collapse-item" href="/admin/appointments#pendingAppointments">Pending</a>
                <a class="collapse-item" href="/admin/appointments#completedAppointments">Completed</a>
                <a class="collapse-item" href="/admin/appointments#cancelledAppointments">Cancelled/Rejected</a>
                <a class="collapse-item" href="/admin/completed-appointments">Resolved</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Heading -->
    <!-- <div class="sidebar-heading">
                        Addons
                    </div> -->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Sign in Screens:</h6>
                <a class="collapse-item" href="/api/logout">Logout</a>
                <div class="collapse-divider"></div>
                <a class="collapse-item" href="/register">Register a new Admin</a>
                <a class="collapse-item" href="/reset-password">Reset Password</a>
            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>